:root{
--pColor:#1661ab;
}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
::-webkit-input-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
::-moz-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
:-ms-input-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body{font:400 14px/24px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'PingFang SC','Hiragino Sans GB','Microsoft YaHei UI','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;}
body.login{background:#d8e3e7 none no-repeat 50% 100% fixed;background-size:cover;color:#757575;color:rgba(0,0,0,.54);}

.login h1{color:#212121;color:rgba(0,0,0,.87);}
.login h1 a{background-image:url(login_logo2.png);background-size:192px 48px;margin:0 auto 24px;width:auto;height:48px;}
.login form{border-radius:8px;margin-top:0;padding:32px 40px;box-shadow:0 1px 4px rgba(0,0,0,.08);}

#login{padding:32px 0 0;width:300px;}
#login form p,.login label{display:block;height:40px;}
#login form p{margin-bottom:8px;}
#login form p + p{margin-bottom:16px;}
.login label{position:relative;}
.login label,.login form .input{color:#212121;color:rgba(0,0,0,.87)}
.login form .input,.login input[type="text"]{margin:0;padding:8px 4px;height:40px;line-height:24px;font-size:14px;border:0;box-shadow:none;}
.login label .input{position:absolute;z-index:1;top:0;background:#fff;border-bottom:1px solid #888;}
.login label .input:focus{background-color:#f5f6fa;border-color:var(--pColor);border-bottom-width:2px;padding-bottom:7px;}
#user_login,#user_email,#user_pass{background-image:none;background-repeat:no-repeat;background-size:24px 120px;}
#user_login{background-position:0 0;}
#user_email{background-position:0 -40px;}
#user_pass{background-position:0 -80px;}
#login form p.forgetmenot,#login form .forgetmenot label{font-size:14px;line-height:36px;}
#login form .forgetmenot{float:none;padding-top:0;}
#login form .forgetmenot label{font-size:14px;}
#login .button-primary{background:var(--pColor);border-color:var(--pColor);border-radius:23px;margin:0;padding:8px 20px;width:100%;height:40px;line-height:24px;font-size:15px;font-weight:400;text-shadow:0 1px 1px rgba(0,0,0,.16);box-shadow:0 8px 16px 0 rgba(35,118,183,.32);}
#login .button-primary:hover{filter:alpha(opacity=90);
background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}
#login .button-primary:active{box-shadow:0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;}

.login #backtoblog,.login #nav{padding:0;}
.login #nav{float:right;margin:16px 0;}
.login #login_error,.login .message,.login .success{border-color:var(--pColor);padding:8px 16px;}
.login #login_error{background:#c62828;border:none;border-radius:2px;box-shadow:0 1px 5px 0 rgba(0,0,0,.24);color:#fff;}
.login #login_error a{color:#fff;}
.login #backtoblog a,.login #nav,.login #nav a{color:#757575;color:rgba(0,0,0,.54);}
.login #backtoblog a:hover,.login #nav a:hover,.login h1 a:hover,
.login #backtoblog a:focus,.login #nav a:focus,.login h1 a:focus{color:var(--pColor);}
.login #backtoblog a:active,.login #nav a:active,.login h1 a:active{color:#354b7a;}

@media(min-width:480px)and(orientation:portrait){
}
@media(min-width:576px)and(orientation:landscape){
#login{padding:24px 0 0;}
}
@media(min-width:768px){
#login{padding:10% 0 0;}
}
@media(min-width:992px){
#login{padding:11% 0 0;}
}
@media(min-width:1200px){
#login{padding:9% 0 0;}
}
