*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
::-webkit-input-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
::-moz-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
:-ms-input-placeholder{color:#bdbdbd;color:rgba(0,0,0,.26);}
html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body{font:400 14px/24px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'PingFang SC','Hiragino Sans GB','Microsoft YaHei UI','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;}
body.login{background:#d8e3e7 no-repeat 50% 100% fixed;background-size:cover;color:#757575;color:rgba(0,0,0,.54);padding-top:9.296%;}

.login h1{color:#212121;color:rgba(0,0,0,.87);margin-bottom:16px;}
.login h1 a{background:#fff url(xuui.svg) no-repeat 0% 44px;background-size:auto 40px;margin:0 auto;width:auto;height:96px;}
.login form{border-radius:2px;margin-top:0;padding:0;box-shadow:none;}

#login{position:relative;background:#fff url(signbg0.png) no-repeat 0 0;padding:0 76px 0 332px;width:640px;height:360px;
box-shadow:0 4px 12px 0 rgba(0,0,0,.12);}
#login form p,.login label{display:block;height:32px;}
#login form p{margin-bottom:12px;}
.login label{position:relative;font-size:12px;line-height:1;color:#9a9a9a;color:rgba(0,0,0,0.54);}
.login form .input,.login input[type="text"]{margin:0;padding:4px 0;height:32px;line-height:24px;font-size:16px;border:0;box-shadow:none;}
.login label .input{position:absolute;z-index:1;top:0;background:#fff;border-bottom:1px solid #b8b8b8;color:#404040;color:rgba(0,0,0,0.87);}
.login label .input:focus{border-color:#2376b7;}

#user_login,#user_email,#user_pass{background:#fff;}
#login form p.forgetmenot,#login form .forgetmenot label{height:32px;font-size:14px;line-height:32px;}
#login form .forgetmenot,#login form p.submit{margin:12px 0 0;}
#login form .forgetmenot{padding-top:0;}
#login form .forgetmenot label{height:32px;font-size:12px;line-height:32px;}

#login form .submit{float:right;}
#login .button-primary{background:#2376b7;border-color:#2376b7;border-radius:16px;margin:0;padding:4px 16px;height:32px;line-height:23px;font-size:14px;font-weight:400;box-shadow:none;text-shadow:0 1px 1px rgba(0,0,0,.24);}
#login .button-primary:hover{background-color:#1661ab;border-color:#1661ab;}
#login .button-primary:active{background-color:#1661ab;border-color:#1661ab;}

.login #login_error,.login .message,.login .success{padding:8px 16px;}
.login #login_error{background:#c62828;border:none;border-radius:0;box-shadow:0 1px 5px 0 rgba(0,0,0,.24);margin:-16px -76px 12px -76px;font-size:12px;color:#fff;}
.login #login_error a{color:#fff;}

.login #backtoblog,.login #nav{position:absolute;bottom:12px;margin:0;padding:0;font-size:12px;}
.login #nav{clear:both;right:100px;}
.login #backtoblog a,.login #nav,.login #nav a{color:#555;color:rgba(0,0,0,.84)}
.login #backtoblog a:hover,.login #nav a:hover,.login h1 a:hover,
.login #backtoblog a:focus,.login #nav a:focus,.login h1 a:focus{color:#222;color:rgba(0,0,0,.99)}
.login #backtoblog a:active,.login #nav a:active,.login h1 a:active{color:#999;color:rgba(0,0,0,.54)}

.login .privacy-policy-page-link{margin:8px 0 0;}
/*
@media(min-width:480px)and(orientation:portrait){
}
@media(min-width:576px)and(orientation:landscape){
#login{padding:24px 0 0;}
}
@media(min-width:768px){
#login{padding:10% 0 0;}
}
@media(min-width:992px){
#login{padding:11% 0 0;}
}
@media(min-width:1200px){
#login{padding:9% 0 0;}
}
*/